@media only screen and (max-width: 991px) {
    #nav .nav-menu {
        display: inline-block;
   }
}

#banner {
    background-color: rgb(2, 2, 70);
    background-size: 100% auto;
    width: 100%;
    height: 100px;
    padding: 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.title {
    font-size: 30px;
}
.titlep {
    text-align: right;
    font-size: 15px;
}

#nav {
    height: 72px;
}
#nav .container {
    position: relative;
}

.nav-logo {
    float:left;
}
.nav-logo .logo {
    line-height: 72px;
    display:inline-block;
}
nav-logo .logo > img {
    width: 100%;
    max-height: 72px;
}

.nav-menu {
    margin-left: 20px;
}
.nav-menu li a {
    position: relative;
    padding: 25px 20px;
    text-transform: capitalize;
    -webkit-box-shadow: -1px 0px 0px 0px #eceef2 inset;
    box-shadow: -1px 0px 0px 0px #eceef2 inset;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}
.nav-menu li:first-child a {
    border-left: 1px solid #eceef2;
}
.nav-menu li a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    height: 4px;
    -webkit-transition: 0.2s width;
    transition: 0.2s width;
}
.nav-menu li a:hover, .nav-menu li a:focus {
    background-color: transparent;
    text-decoration: none;
    color: rgb(2, 2, 70);
}

.mybutton {
    float: right;
    border-radius: 5px;
    background-color: rgb(134, 134, 156);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 0.2em;
    width: 5em;
    margin-top: 15px;
}
.mybutton:hover {
    background-color: rgb(2, 2, 70);
    padding-right: 5px;
}

.searchbox {
    padding: 2px;
    float: right;
    border: none;
    margin-top: 17px;
    margin-right: .5em;
    font-size: 14px;
    border-radius: 5px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 2.5rem;
} 
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.myfooter {
    background-color: white;
    color: rgb(2, 2, 70);
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.contacts {
    position: relative;
    width: 100%;
}

.container-login {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;  
}
  
.container-login::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.65);
}

.form_header {
    color: rgb(2, 2, 70);
    text-align: center;
}
.input {
    height: 45px;
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
}
.login_form {
    border: 1px solid white;
    padding-left:2em;
    padding-right: 2em;
    padding-bottom: 5em;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    margin: 0 auto;
}
#mybutton{
    border-radius: 5px;
    background-color: rgb(134, 134, 156);
    border: none;
    color: rgb(2, 2, 70);
    float: left;
}
#mybutton:hover {
    background-color: rgb(2, 2, 70);
    padding-right: 5px;
    color: white;
}

.content {
    width:75%;
    margin: auto;
    border: 1px solid white;
    padding-left:2em;
    padding-right: 2em;
    padding-bottom: 5em;
    border-radius: 10px;
    background-color: white;
}
.page-title {
    text-align: center;
    color: rgb(2, 2, 70);
    padding-top: .5em;
}
.text-input {
    width: 100%;
}
form div {
    margin-bottom: 20px;
}

.myadminbutton {
    border-radius: 5px;
    background-color: rgb(134, 134, 156);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 0.2em;
    width: 5em;
    margin-top: 5px;
}
.myadminbutton:hover {
    background-color: rgb(2, 2, 70);
    padding-right: 5px;
}

.managepost {
    margin-top: 1em;
}